<form [formGroup]="heroForm">
  <input class="form-control" formControlName="name" required />
  <input class="form-control" formControlName="alterEgo" />
  @if (alterEgo.pending) {
    <app-spinner></app-spinner>
  }
  <input class="form-control" formControlName="power" />

  @if (name.invalid && (name.dirty || name.touched)) {
    <div
      class="alert alert-danger"
      >
      @if (name.errors.required) {
        <div>Name is required.</div>
      }
      @if (name.errors.minlength) {
        <div>
          Name must be at least 4 characters long.
        </div>
      }
      @if (name.errors.forbiddenName) {
        <div>
          Name cannot be {{ name.errors.forbiddenName.value | titlecase }}.
        </div>
      }
    </div>
  }
  @if (
    heroForm.errors?.identityRevealed && (heroForm.touched || heroForm.dirty)
    ) {
    <div
      class="cross-validation-error-message alert alert-danger"
      >
      Name cannot match alter ego.
    </div>
  }
</form>
