<h1 class="title">Component Interaction</h1>
<hr />
<h2>Via Service</h2>
<app-interaction-via-service></app-interaction-via-service>
<hr />
<h2>&#64;ViewChild</h2>
<app-interaction-view-child></app-interaction-view-child>
<hr />
<h2>Parent interact with child via local variables</h2>
<app-interaction-via-local-variables></app-interaction-via-local-variables>
<hr />
<h2>Parent listen for child event</h2>
<app-parent-listen-child></app-parent-listen-child>
<hr />
<h2>&#64;Input change detection with ngOnChange</h2>
<app-input-with-onchange></app-input-with-onchange>
<hr />
<h2>In child changes detect throgh setter</h2>
<app-interaction-setter-parent></app-interaction-setter-parent>
<hr />

<h2>From parent to child with input</h2>
<app-interaction-parent></app-interaction-parent>
<hr />
