<div class="row">
  <div class="col-4 offset-4 border">
    <h1 class="text-center">
      Integrity by Al<br />
      Welcome to {{ title }}
    </h1>
  </div>
</div>

<div class="grid">
  <div class="grid__left-top"></div>
  <div class="grid__right-top"></div>
  <div class="grid__left-bottom"></div>
  <div class="grid__right-bottom"></div>
</div>

<app-tasks></app-tasks>
<h2>List of Completed tasks:</h2>

<app-completed-tasks></app-completed-tasks>

<button (click)="readMe()">Click Me</button>
<div>__________________*ngIf______________________________</div>

@if (showMsg) {
  <div [ngStyle]="{ color: colorName }">
    Show this message from IF true statement.
  </div>
}

@if (showMsg) {
  <div [ngStyle]="{ color: colorName }">
    IF true
  </div>
} @else {
  <div [ngStyle]="{ color: colorName }">ELSE</div>
}

@if (showMsg) {
  Then Message
} @else {
  Else Message
}
<br />

<div>__________________*ngSwitch______________________________</div>
<div>
  @switch (switchValue) {
    @case (1) {
      <div>Value 1</div>
    }
    @case (2) {
      <div>Value 2</div>
    }
    @case ('three') {
      <div>Value 3</div>
    }
    @case (4) {
      <div>Value 4</div>
    }
    @case (5) {
      <div>Value 5</div>
    }
    @default {
      <div>Default</div>
    }
  }
</div>
<br />

<div>________________________*ngFor_______________________________</div>
<ul>
  @for (user of users; track user) {
    <li>{{ user.name }}</li>
  }
</ul>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Index</th>
    <th>First</th>
    <th>Last</th>
    <th>Odd</th>
    <th>Even</th>
  </tr>
  @for (
    user of users; track
    user; let i = $index; let f = $first; let l = $last; let e = $even; let o = $odd) {
    <tr
      >
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ i }}</td>
      <td [ngStyle]="{ color: colorValue, background: '#ffeeff' }">{{ f }}</td>
      <td>{{ l }}</td>
      <td [ngClass]="[clsName, clsNameLast]">{{ o }}</td>
      <td [ngClass]="{ doom: implementClasses, peace: !implementClasses }">
        {{ e }}
      </td>
    </tr>
  }
</table>
<br />

<p [innerHTML]="title"></p>
<br />

<a [href]="hrefVal" [attr.updateLink]="updateLink">Google</a>

<router-outlet></router-outlet>
