@import "bootstrap/dist/css/bootstrap.min.css";

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;

    & > * {
        display: inline-block;
        min-height: 100px;
    }

    &__left-top {
        background: green;
    }
    &__left-bottom {
        background: indigo;
    }
    &__right-top {
        background: orange;
    }
    &__right-bottom {
        background: red;
    }
}

.doom {
    color: white;
    background: red;
}
.peace {
    font-style: italic;
}
