<form #heroForm="ngForm" appIdentityRevealed>
  <input
    name="name"
    class="form-control"
    required
    minlength="4"
    appForbiddenName="tobby"
    [(ngModel)]="nameVariable"
    #name="ngModel"
    />
  <input
    name="alterEgo"
    class="form-control"
    [(ngModel)]="alterEgoVariable"
    #alterEgo="ngModel"
    [ngModelOptions]="{ updateOn: 'blur' }"
    appUniqueAlterEgo
    />

  @if (heroForm.pending) {
    <app-spinner></app-spinner>
  }
  <input
    name="power"
    class="form-control"
    [(ngModel)]="powerVariable"
    #power="ngModel"
    />

  @if (name.invalid && (name.dirty || name.touched)) {
    <div
      class="alert alert-danger"
      >
      @if (name.errors.required) {
        <div>Name is required.</div>
      }
      @if (name.errors.minlength) {
        <div>
          Name must be at least 4 characters long.
        </div>
      }
      @if (name.errors.forbiddenName) {
        <div>Name cannot be Tobby.</div>
      }
    </div>
  }
  @if (
    heroForm.errors?.identityRevealed && (heroForm.touched || heroForm.dirty)
    ) {
    <div
      class="cross-validation-error-message alert alert-danger"
      >
      Name cannot match alter ego.
    </div>
  }
</form>
